main{
    padding: 20px 0;
}

/* BANNER */

#container-banner{
background-image: url("../imgs/banner02.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 600px;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
}


#container-banner h1{
    padding-bottom: 50px;
    font-family: Calistoga;
    font-weight: lighter;
    font-size: 7vw;
    text-shadow: 1px 2px 55px black;
    color: #ffffff;
}

#container-banner #arrow{
    padding-bottom: 50px;

}


/* CHALLENGES */ 


.challenge{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem auto;
    background-color: #074183;
    color:#FFECD6;
    border-radius: 2.5rem;
    width: 80%;
    height: 30rem;
    padding: 0 4rem;
}

.challenge h2 {
font-family: Calistoga;
/* font-size: 32px; */
font-size: 38px;
font-weight: lighter;
margin-bottom: 2rem;
}

.challenge p {
    font-family: Open Sans;
    font-size: 1.1rem;
    padding-bottom: 1.1rem;
}

.challenge a {
    font-family: Open Sans;
    font-size: 1.1rem;
    color:#3559E0;
    text-decoration: underline;

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    margin: 1rem 0.5rem;
    width: 65%;
    text-align: justify;
}

.content.two {
    padding-left: 2rem;

}

.content.one, .content.three{
    padding-right: 2rem;

}

.challenge .image-challenge{
    background-color: #3559E0;
    width: 50%;
    height: 21rem;
    background: no-repeat center center;
    background-size: cover;
}

.challenge .image-challenge.one{
    background-image: url(../imgs/challenge01.jpg);
}

.challenge .image-challenge.two{
    background-image: url(../imgs/challenge02.jpg);
}

.challenge .image-challenge.three{
    background-image: url(../imgs/challenge03.jpg);
}