/* PRINCIPAL */
main {
  padding: 30px 0;
  font-family: Roboto;
}

.container-mvp-app {
  text-align: center;
  background-color: rgb(24, 136, 71);
  width: 80%;
  height: 33rem;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 2rem;
}

.container-mvp-app h1 {
  font-family: calistoga;
  font-weight: normal;
  color: white;
  margin: 2rem 0;
  font-size: 32x;
}

/* LOGIN */
.form-pattern {
  background-color: rgb(246, 246, 253);
  border-radius: 2.5rem;
  width: 37%;
  height: 330px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.container-mvp-app .form-pattern,
.container-mvp-app form,
.container-mvp-app .buttons {
  display: flex;
  flex-direction: column;
}

.container-mvp-app form {
  margin-bottom: 2rem;
}

.container-mvp-app .form-pattern h2 {
  margin: 2rem 0 2rem 0;
  font-size: 26px;
}

.container-mvp-app .form-pattern .section {
  margin: 0.5rem 0;
}

.container-mvp-app .form-pattern .section label {
  font-size: 18px;
}

.container-mvp-app .form-pattern .section input {
  border: 1px solid black;
  font-size: 18px;
  border-radius: 1.5rem;
}

.container-mvp-app .button {
  margin: 2rem 0 1rem 0;
}

.container-mvp-app .button.login {
  background-color: blue;
  color: white;
  padding: 0.2rem 2rem;
  width: fit-content;
  margin: 0 auto;
  border-radius: 1.5rem;
  font-size: 18px;
}

.container-mvp-app .buttons {
  margin: 0.7rem 0 0 0;
  font-size: 16px;
}

.container-mvp-app .buttons a {
  color: black;
  font-weight: bold;
}

.container-mvp-app .buttons a:hover {
  color: rgb(252, 0, 0);
  font-weight: bolder;
}

/* ESQUECEU A SENHA */

/* CADASTRE-SE */
.container-mvp-app .form-pattern .cadastro {
}

.container-mvp-app .button.cadastro {
  background-color: blue;
  color: white;
  padding: 0.2rem 2rem;
  width: fit-content;
  margin: 0 auto;
  border-radius: 1.5rem;
  font-size: 18px;
}


/* MVP */

/* NAVBAR */
.container-mvp-app.home-mvp  {
  background-color: aliceblue;
  width: 80%;
  height: 33rem;
  margin: 0 auto;
  border-radius: 1.5rem;
  display: flex;
}

.container-mvp-app .navbar {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  width: 20%;
}

.container-mvp-app   .navbar a {
  color: black;
  font-size: 22px;
}

.container-mvp-app   .navbar li{
  margin: 0.4rem 0;

}

.container-mvp-app   .navbar .logo{
  font-family: calistoga;
  margin: 1rem 0 1rem 0;
  font-size: 33px;
}

.container-mvp-app   .content {
  background-color: rgb(10, 50, 228);
  width: 80%;
  overflow: auto;
}



/* MVP - HOME CONTENT */



/* MVP - CONFIGURAÇÕES CONTENT */

/* MVP - CONFIG NAVBAR */
.container-mvp-app   .content .config-navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  height: 50px;

}

.container-mvp-app   .content .config-navbar li{
  margin: 0 1rem;
  font-size: 18px;
}

.container-mvp-app   .content .config-navbar a{
 color: black; 
}

.container-mvp-app   .content .config-navbar a:hover{
  text-decoration: underline;
 }
 

.container-mvp-app   .content .content-config{
  background-color: rgb(155, 90, 90);
  width: 40%;
  height:500px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
}

.container-mvp-app   .content .content-config input{
  border: 1px solid black;
  border-radius: 1.5rem;
  font-size: 16px;
  margin-bottom: 5px;
}

.container-mvp-app   .content .content-config label{
  align-self: flex-start;
}

.container-mvp-app   .content .content-config button{
  background-color: rgb(9, 9, 143);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  font-size: 20px;
  margin: 1rem 0 0 0;
}
 