/* PRINCIPAL */
main {
  padding: 30px 0;
  font-family: Roboto;
}

.container-mvp-app {
  text-align: center;
  background-color: rgb(24, 136, 71);
  width: 80%;
  height: 33rem;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 2rem;
}

.container-mvp-app h1 {
  font-family: calistoga;
  font-weight: normal;
  color: white;
  margin: 2rem 0;
  font-size: 32x;
}

/* LOGIN */
.form-pattern {
  background-color: rgb(246, 246, 253);
  border-radius: 2.5rem;
  width: 37%;
  height: 330px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.container-mvp-app .form-pattern,
.container-mvp-app form,
.container-mvp-app .buttons {
  display: flex;
  flex-direction: column;
}

.container-mvp-app form {
  margin-bottom: 2rem;
}

.container-mvp-app .form-pattern h2 {
  margin: 2rem 0 2rem 0;
  font-size: 26px;
}

.container-mvp-app .form-pattern .section {
  margin: 0.5rem 0;
}

.container-mvp-app .form-pattern .section label {
  font-size: 18px;
}

.container-mvp-app .form-pattern .section input {
  border: 1px solid black;
  font-size: 18px;
  border-radius: 1.5rem;
}

.container-mvp-app .button {
  margin: 2rem 0 1rem 0;
}

.container-mvp-app .button.login {
  background-color: blue;
  color: white;
  padding: 0.2rem 2rem;
  width: fit-content;
  margin: 0 auto;
  border-radius: 1.5rem;
  font-size: 18px;
}

.container-mvp-app .buttons {
  margin: 0.7rem 0 0 0;
  font-size: 16px;
}

.container-mvp-app .buttons a {
  color: black;
  font-weight: bold;
}

.container-mvp-app .buttons a:hover {
  color: rgb(252, 0, 0);
  font-weight: bolder;
}

/* ESQUECEU A SENHA */

/* CADASTRE-SE */
.container-mvp-app .form-pattern .cadastro {
}

.container-mvp-app .button.cadastro {
  background-color: blue;
  color: white;
  padding: 0.2rem 2rem;
  width: fit-content;
  margin: 0 auto;
  border-radius: 1.5rem;
  font-size: 18px;
}


/* MVP */

/* NAVBAR */
.container-mvp-app.home-mvp  {
  background-color: aliceblue;
  width: 80%;
  height: 33rem;
  margin: 0 auto;
  border-radius: 1.5rem;
  display: flex;
}

.container-mvp-app .navbar {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 84, 180);
  width: 20%;
  color: rgb(255, 255, 255);

}

.container-mvp-app   .navbar a {
  font-size: 22px;
  color: rgb(255, 255, 255);

}

.container-mvp-app   .navbar li{
  margin: 0.4rem 0;

}

.container-mvp-app   .navbar li:hover{
  text-decoration: underline;
}

.container-mvp-app   .navbar .logo{
  font-family: calistoga;
  margin: 2.5rem 0 1rem 0;
  font-size: 33px;
}

.container-mvp-app   .content {
  background-color: rgb(219, 223, 243);
  width: 80%;
  overflow: auto;
}



/* MVP - HOME CONTENT */
.content .overview{
  margin:  4rem auto;
  width: 90%;
  height: 400px;
}

.content .overview h2{
  margin: 2rem 0 2rem 0;
  font-size: 36px;
  color: black;

}

.content .overview h3{
  margin: 0;
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.content .overview p{
  margin: 0.5rem 0;
  font-size: 26px;
  color: white;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.content .overview img{
  width: auto;
  height: 100px;
}



.content .overview .container-view{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.content .overview .container-view .trash{
  width: 20%;
  height: 220px;
  border-radius: 1.5rem;
  padding: 1rem 0.5rem;
}

/* TRASH COLORS */

.content .overview .container-view .trash.one{
  background-color: rgb(175, 0, 0);
}

.content .overview .container-view .trash.two{
  background-color: rgb(68, 151, 0);
}

.content .overview .container-view .trash.three{
  background-color: rgb(1, 105, 241);
}

.content .overview .container-view .trash.four{
  background-color: rgb(255, 238, 0);
}


/* MVP - CONFIGURAÇÕES CONTENT */
 
.form-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem; 
}

.form-container  .form-config {
  width: 48%; 
  border-radius: 1.5rem;
  margin: 2rem;
}

.form-container form {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
}

.form-container h3 {
  margin-bottom: 1rem;
}

.form-container label {
  display: block;
  margin-bottom: 0.7rem;
  text-align: start;
}

.form-container input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  padding: 0.8rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.form-container button:hover {
  background-color: #0056b3;
}



/* HISTORIC */

.content-historic table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-historic th, .content-historic td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.content-historic th {
  background-color: #4CAF50;
  color: white;
}

.content-historic tr:nth-child(even) {
  background-color: #f2f2f2;
}

.content-historic tr:hover {
  background-color: #ddd;
}


.content-historic .content-historic .filter-container {
  margin-bottom: 10px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;  
}

.filter-container #filterForm{
display:flow-root;
margin: 2rem auto;
}

.content-historic .filter-container label {
  margin-right: 10px;
}

.content-historic .filter-container select, .filter-container input {
  padding: 8px;
  margin: 0;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
 